* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    font-size: 100%;
    color: #000;
    margin: 0;
  }
  
  header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom-style: solid;
    border-width: thin;  }
  
  a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  h1 {color: rgb(69, 143, 204);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  }

  #button {
      display: inline-block;
      border-radius: 250px;
      margin: 5px;
      position: relative;
      padding: 10px;
      cursor: pointer;
  }
  
  #navlinks {
    list-style-type: none;
    margin-top: 250px;
    margin-bottom: 5px;
    line-height: 1cm;
    flex-direction: column;
    text-align: right;
    font-size: 14px;
  }
  #logo {
    height: 40px;
  }
  #navigation {
    display: none;
    margin: 5px;
  }
  #navigation.show {display: none;}
  
  #button {background-color: transparent; border: none;}
  
  /* Media Query für größere Bildschirme */
  @media (min-width: 960px) {
    #navigation {display: block}
    #button {display: none;}}
    /* stellt die ul nebeneinander auf dem großen Gerät*/
    #navlinks {display: flex;}
  
    #navlinks li {padding-left: 0.5rem; padding-right: 0.5rem;}
  